@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-slate-100 text-primary-black
}

.meeting-button::after, .meeting-button::before {
    width: 80%;
    height: 2px;
    position: absolute;
    content: "";
    filter: blur(2px);
    border-radius: 50%;
}

